@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    font-family: Poppins;
}

/* button style  */


label.logo {
    color: white;
    font-size: 17px;
    line-height: 80px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    background: #E02C6D;
    margin-left: 160px;


}

span {
    padding-left: 8px;
}

nav {
    background: #2D25A0;
    height: 80px;
    width: 100%;
}



nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 30px;

}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;

}


a:hover {
    background: #E02C6D;

    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*----------------
responsive menu bar
-------------------  */

@media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: 50px;
    height: calc(100vh - 80px);
}

/*----------------
 top part style
 ------------------  */

header {
    background: #2D25A0;
}


.top-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 156px;

}

.head-text {
    font-size: 54px;
    width: 485px;
    line-height: 90px;
    font-weight: 700;
    color: #FFF;
}



.button-style {
    background: #E02C6D;
    color: #FFF;
    Width: 168px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    margin-top: 27px;

}

.button-style a {
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;


}

.content-image img {
    width: 556px;
    height: 438px;
    margin-left: 10px;
}

/* image animation  */

.content-image:hover img {
    transform: scale(1.0) skew(-15deg);
    transition: transform 2s ease-in-out;
}

/* responsive top part  */

@media (max-width: 768px) {

    .top-part {
        display: flex;
        flex-direction: column;
        align-items: start;


    }

    .head-text {
        margin-top: 30px;
        line-height: 100px;
    }

    .content-image img {
        width: 630px;
        height: 45 0px;
        margin-top: 60px;
        padding-right: 100px;
    }
}

@media (max-width: 688px) {
    label.logo {
        margin-left: 35px;
    }

    .top-part {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        margin-left: 40px;

    }

    .head-text {

        width: 250px;
        height: 148px;
        line-height: 65px;
        font-size: 30px;
        margin-right: 300px;

    }

    .button-style {
        margin-top: 70px;

    }



    .content-image {
        margin-right: 15px;

    }

    .content-image img {
        width: 425px;
        height: 330px;



    }

}

@media (max-width: 376px) {
    label.logo {
        margin-left: 35px;
    }

    .top-part {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        margin-left: 40px;

    }

    .head-text {

        width: 190px;
        height: 140px;
        line-height: 50px;
        font-size: 22px;
        margin-right: 300px;

    }

    .button-style {
        margin-top: 30px;
    }



    .content-image img {
        width: 395px;
        height: 270px;



    }

}



/* top players style  */
.players-area {
    margin-top: 60px;
    width: 20%;
    padding-left: 150px;


}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);




}

.players {
    width: 330px;
    height: 474px;
    background: #F5F5F5;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;

}

.player-img img {
    border-radius: 5px;
    width: 300px;
    height: 256px;
}

.player-details {
    width: 300px;
    height: 104px;
}

.player-details h3 {
    color: #18191F;
    font-size: 22px;
    font-weight: 700;
}

.player-details p {
    margin-top: 10px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;


}

/* top players responsive style  */
@media (max-width: 376px) {

    .players-area {

        margin-left: -150px;
        margin-top: 32px;


    }

    .top-players {
        display: grid;
        grid-template-columns: 1fr;


    }
}

@media (max-width: 688px) {
    .players-area {

        margin-left: -150px;
        margin-top: 32px;


    }

    .top-players {
        display: grid;
        grid-template-columns: 1fr;


    }
}


.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content img {
    width: 95%;
    padding: 20px;

}

footer {
    position: static;
    bottom: 0px;
    width: 100%;
    background: #111;
    margin-top: 1500px;

}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: #000;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #FFF;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 900px) {
    footer {
        margin-top: 5500px;
        position: static;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}