/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
}

/* button style  */


label.logo {
    color: white;
    font-size: 17px;
    line-height: 80px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    background: #E02C6D;
    margin-left: 160px;


}

span {
    padding-left: 8px;
}

nav {
    background: #2D25A0;
    height: 80px;
    width: 100%;
}



nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding-right: 30px;

}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;

}


a:hover {
    background: #E02C6D;

    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*----------------
responsive menu bar
-------------------  */

@media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

section {
    background: url(bg1.jpg) no-repeat;
    background-size: 50px;
    height: calc(100vh - 80px);
}

/*----------------
 top part style
 ------------------  */

header {
    background: #2D25A0;
}


.top-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 156px;

}

.head-text {
    font-size: 54px;
    width: 485px;
    line-height: 90px;
    font-weight: 700;
    color: #FFF;
}



.button-style {
    background: #E02C6D;
    color: #FFF;
    Width: 168px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    margin-top: 27px;

}

.button-style a {
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;


}

.content-image img {
    width: 556px;
    height: 438px;
    margin-left: 10px;
}

/* image animation  */

.content-image:hover img {
    transform: scale(1.0) skew(-15deg);
    transition: transform 2s ease-in-out;
}

/* responsive top part  */

@media (max-width: 768px) {

    .top-part {
        display: flex;
        flex-direction: column;
        align-items: start;


    }

    .head-text {
        margin-top: 30px;
        line-height: 100px;
    }

    .content-image img {
        width: 630px;
        height: 45 0px;
        margin-top: 60px;
        padding-right: 100px;
    }
}

@media (max-width: 688px) {
    label.logo {
        margin-left: 35px;
    }

    .top-part {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        margin-left: 40px;

    }

    .head-text {

        width: 250px;
        height: 148px;
        line-height: 65px;
        font-size: 30px;
        margin-right: 300px;

    }

    .button-style {
        margin-top: 70px;
    }

    .content-image {
        margin-right: 15px;

    }

    .content-image img {
        width: 425px;
        height: 330px;



    }

}

@media (max-width: 376px) {
    label.logo {
        margin-left: 35px;
    }

    .top-part {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        margin-left: 40px;

    }

    .head-text {

        width: 190px;
        height: 140px;
        line-height: 50px;
        font-size: 22px;
        margin-right: 300px;

    }

    .button-style {
        margin-top: 30px;
    }



    .content-image img {
        width: 395px;
        height: 270px;



    }

}



/* top players style  */
.players-area {
    margin-top: 60px;
    width: 20%;
    padding-left: 180px;


}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);




}

.players {
    width: 330px;
    height: 474px;
    background: #FFF;
    padding: 15px;

}

.player-img img {
    border-radius: 5px;
    width: 300px;
    height: 256px;
}

.player-details {
    width: 300px;
    height: 104px;
}

.player-details h3 {
    color: #18191F;
    font-size: 22px;
    font-weight: 700;
}

.player-details p {
    margin-top: 10px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;


}

/* top players responsive style  */
@media (max-width: 376px) {

    .players-area {

        margin-left: -150px;
        margin-top: 32px;


    }

    .top-players {
        display: grid;
        grid-template-columns: 1fr;


    }
}